<link rel="stylesheet" href="/stylesheets/admin.css">



<div class="flex">
	<div class="a-1-1 c-2-7 d-1-5">
		<% include public/aside %>
	</div>
	<div class="a-1-1 c-5-7 d-4-5">
		<% include public/header %>
	</div>
</div>