<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="nCMS">
	<meta name="keywords" content="nCMS nBLOG nWIKI" />
	<meta name="author" content="HuoHongJian hhj">
	<title>nCMS</title>
 	<link rel="stylesheet" href="http://at.alicdn.com/t/font_stnj9i7gtbc07ldi.css">
	<link rel="stylesheet" href="/stylesheets/nCMS.css">
	<link rel="stylesheet" href="/my/r.css?v=1.0.0">
	<script src="/my/R.js?v=1.0.0"></script>
	<script src="/my/Panel.js?v=1.0.0"></script>
</head>
<body>
<%- body %>
<script src="/javascripts/nCMS.js"></script>
</body>
</html>