
<% include public/header %>
<div class="flex b-p-0 c-p-5 d-p-100 e-p-120">
	<div class="a-1-1 d-2-3 f-3-4 left-frame">
		<% include public/itemList %>
		<% include public/pagination %>
	</div>
	<div class="a-1-1 d-1-3 f-1-4 right-frame">
		<% include public/searchBoard %>
		<% include public/ebooks %>
		<% include public/recommendList %>
		<% include public/friendLink  %>
	</div>
</div>
<% include public/footer %>