<select name="status" data-file="/public/articlStatus">
	<option value="0">--状态--</option>
	<option value="1">首推</option>
	<option value="2">首显</option>
	<option value="3">推荐</option>
	<option value="4">公开</option>
	<option value="5">隐藏</option>
	<option value="6">私藏</option>
	<option value="7">深藏</option>
	<option value="8">雪藏</option>
	<option value="9">删除</option>
</select>