<!--尾部模板-->
<div class="back-to-top" id="gotop">
	<i class="iconfont icon-top-copy"></i>
</div>
<footer id="footer" class="flex b-p-0 c-p-5 d-p-100 e-p-120 text-center">
	<div class="a-1-1">
		<a href="/" rel="nofollow" target="_blank">nCMS </a>
		<span>Copyright (c) to HuoHongJian 2017-2030</span>
		<span>All Rights Reserved</span>
		<a href="/admin/" target="_blank">系统管理</a>
		<a href="/details/HJZqxsrAx" target="_blank">使用说明</a>
	</div>
</footer>
