<!--友情链接模块-->
<div class="friendLink">
	<h3>友情链接</h3>
	<ul>
		<li><a target="_blank" href="http://www.sohu.com">搜狐</a></li>
		<li><a target="_blank" href="http://www.baidu.com">百度</a></li>
		<li><a target="_blank" href="http://www.html-js.cn">DoraCMS</a></li>
		<li><a target="_blank" href="http://www.bootcss.com">Bootstrap中文网</a></li>
		<li><a target="_blank" href="https://purecss.cn/">purecss</a></li>
		<li><a target="_blank" href="http://es6.ruanyifeng.com/">ES6</a></li>
		<li><a target="_blank" href="http://www.atool.org/colorpicker.php">atool</a></li>
		<li><a target="_blank" href="http://www.iconfont.cn/">iconfont</a></li>
	</ul>
</div>