<!--操作面板-->
<div class="friendLink">
	<h3>我的操作</h3>
	<ul>
		<li><a target="_blank" href="/editor.html">添加文章</a></li>
		<li><a target="_blank" href="/edit.html">文本编辑</a></li>
		<li><a target="_blank" href="/user/article">文章管理</a></li>
		<li><a target="_blank" href="/user/info">修改信息</a></li>
		<li><a target="_blank" href="/user/todo">任务管理</a></li>
	</ul>
</div>