
<div class="search-list">
<% if (articles.length>0){ %>
	<ul>
		<% articles.forEach(function(article){ %>
		<li class="ellipsis">
			<% if(article.category=='电子书'){ %>
			<i class="iconfont icon-iconfontbook yellow"></i>
			<a href="/ebook/<%= article._id %>" target="_blank"><%= article.title %></a>
			<% } else { %>
			<a href="/details/<%= article._id %>" target="_blank"><%= article.title %></a>
			<% } %>
		</li>
		<% }) %>
	</ul>
<% }else{ %>
	<p class="text-center">暂无内容...</p>
<% } %>
</div>


