<!--默认全局模板框架-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="nCMS">
	<meta name="keywords" content="nCMS nBLOG" />
	<meta name="author" content="nCMS">
	<title>nCMS</title>
	<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css?v=4.3.0" />
	<link rel="stylesheet" href="/plugins/pure-0.6.2/pure-min.css">
	<link rel="stylesheet" href="/plugins/pure-0.6.2/grids-responsive-min.css">
	<link rel="stylesheet" href="/stylesheets/nCMS.css">
	<script type="text/javascript" src="/my/R.js?v=1.0.0"></script>
</head>
<body>
<%- include header %>
<%- body %>
<%- include footer %>
<script type="text/javascript" src="/javascripts/nCMS.js"></script>
</body>
</html>